<%= render "dashboardpage/header.html.erb" %>

<style>
    @media screen and (max-height: 991px) {
        .profile-sidebar {
            text-align: center;
        }
    }
</style>

<br>

<div class="row dashboardpage_height">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
        <div class="profile-sidebar">
            <!-- PORTLET MAIN -->

            <div class="md-radio-inline profile_setup_radio">
                <div class="md-radio">
                    <input type="radio" id="radio6" name="radio2" class="md-radiobtn" checked="" onclick="profile_type_show('.staff_summary')">
                    <label for="radio6">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> Patient </label>
                </div>
                <div class="md-radio">
                    <input type="radio" id="radio7" name="radio2" class="md-radiobtn" onclick="profile_type_show('.patient_summary')">
                    <label for="radio7">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span> Staff </label>
                </div>
            </div>

            <div class="portlet light profile-sidebar-portlet patient_summary">

            </div>

            <div class="portlet light profile-sidebar-portlet staff_summary">
                <h5 class="profile_created_by">Created By</h5>
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <% if StaffProfile.count != 0 && StaffProfile.exists?('authcons_id': current_authcon.id) %>
                        <% if StaffProfile.find_by('authcons_id': current_authcon.id).image == '' || StaffProfile.find_by('authcons_id': current_authcon.id).image == nil %>
                            <img src="/images/blank_profile_image.png" class="img-responsive" style="width: 200px;height: 200px;" alt=""> 
                        <% else %>
                            <%  file = File.open("savedimages/" + StaffProfile.find_by('authcons_id': current_authcon.id).image, "rb")
                                contents = file.read %>
                            <img src="<%= contents %>" class="img-responsive" style="width: 200px;height: 200px;" alt="">
                        <% end %>
                    <% else %>
                        <img src="/images/blank_profile_image.png" class="img-responsive" style="width: 200px;height: 200px;" alt=""> 
                    <% end %>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <% if StaffProfile.count != 0 && StaffProfile.exists?('authcons_id': current_authcon.id) %>
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> <%= StaffProfile.find_by('authcons_id': current_authcon.id).first_name + ' ' + StaffProfile.find_by('authcons_id': current_authcon.id).last_name %> </div>
                        <div class="profile-usertitle-job"> <%= StaffProfile.find_by('authcons_id': current_authcon.id).occupation %> </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons" style="display: none;">
                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                        <button type="button" class="btn btn-circle red btn-sm">Message</button>
                    </div>
                <% else %>
                    <div class="profile-usertitle-name" style="text-align: center;margin-top: 15px;">Please create your profile first</div>
                <% end %>
                <!-- END SIDEBAR BUTTONS -->
            </div>
            <!-- END PORTLET MAIN -->
            <!-- END PORTLET MAIN -->
        </div>
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light ">
                        <% if !StaffProfile.exists?('authcons_id': current_authcon.id) %>
                            <h3 style="font-size: 18px;font-weight: 600;color: red;">*Before working, please setup your profile first.</h3>
                        <% else %>
                            <div class="portlet-title tabbable-line staff_summary">
                                <div class="caption caption-md" style="float: none;">
                                    <div class="caption font-green" style="font-size: 18px;">
                                        <i class="icon-pin font-green"></i>
                                        <span class="caption-subject bold uppercase"> Do you want to setup whose patient profile? </span>
                                    </div>
                                    <div style="width: 100%;height: 15px;"></div>
                                </div>

                                <br>
                                <div style="margin-bottom: 18px;">
                                    <select>
                                        <% patientprofile_item = PatientProfile.where('id is not null') %>
                                        <% for i in 0..PatientProfile.count - 1 %>
                                            <% if patientprofile_item[i].allowed == 0 %>
                                                <% if patientprofile_item[i].authcons_id %>
                                                    <option name="get_patient_info(<%= i %>);">(R) - ID : <%= patientprofile_item[i].authcons_id %>&nbsp,&nbsp
                                                            Name : <%= patientprofile_item[i].first_name %>&nbsp
                                                                    <%= patientprofile_item[i].last_name %>
                                                    </option>
                                                <% else %>
                                                    <option name="get_patient_info(<%= i %>);">(R) - ID : <%= patientprofile_item[i].fusers_id %>&nbsp F &nbsp,&nbsp
                                                            Name : <%= patientprofile_item[i].first_name %>&nbsp
                                                                    <%= patientprofile_item[i].last_name %>
                                                    </option>
                                                <% end %>
                                            <% else %>
                                                <% if patientprofile_item[i].authcons_id %>
                                                    <option name="get_patient_info(<%= i %>);">&nbsp&nbspID : <%= patientprofile_item[i].authcons_id %>&nbsp,&nbsp
                                                            Name : <%= patientprofile_item[i].first_name %>&nbsp
                                                                    <%= patientprofile_item[i].last_name %>
                                                    </option>
                                                <% else %>
                                                    <option name="get_patient_info(<%= i %>);">&nbsp&nbspID : <%= patientprofile_item[i].fusers_id %>&nbsp F &nbsp,&nbsp
                                                            Name : <%= patientprofile_item[i].first_name %>&nbsp
                                                                    <%= patientprofile_item[i].last_name %>
                                                    </option>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    </select>

                                    <% for i in 0..PatientProfile.count - 1 %>
                                        <% if patientprofile_item[i].authcons_id %>
                                            <label class="select_patient_profile"><%= patientprofile_item[i].authcons_id.to_s + '|' +  
                                                patientprofile_item[i].image.to_s + '|' +
                                                patientprofile_item[i].first_name.to_s + '|' + patientprofile_item[i].last_name.to_s + '|' +
                                                patientprofile_item[i].sex.to_s + '|' + patientprofile_item[i].birthdate.to_s + '|' +
                                                patientprofile_item[i].email.to_s + '|' + patientprofile_item[i].phone_number.to_s + '|' + 
                                                patientprofile_item[i].nhs_number.to_s + '|' + patientprofile_item[i].address.to_s + '|' +
                                                patientprofile_item[i].healthcare_professional.to_s + '|' + patientprofile_item[i].lead_clinician.to_s + '|' +
                                                patientprofile_item[i].occupation.to_s + '|' + patientprofile_item[i].detail.to_s + '|' + 
                                                "general" %>
                                            </label>
                                        <% else %>
                                            <label class="select_patient_profile"><%= patientprofile_item[i].fusers_id.to_s + '|' +  
                                                patientprofile_item[i].image.to_s + '|' +
                                                patientprofile_item[i].first_name.to_s + '|' + patientprofile_item[i].last_name.to_s + '|' +
                                                patientprofile_item[i].sex.to_s + '|' + patientprofile_item[i].birthdate.to_s + '|' +
                                                patientprofile_item[i].email.to_s + '|' + patientprofile_item[i].phone_number.to_s + '|' + 
                                                patientprofile_item[i].nhs_number.to_s + '|' + patientprofile_item[i].address.to_s + '|' +
                                                patientprofile_item[i].healthcare_professional.to_s + '|' + patientprofile_item[i].lead_clinician.to_s + '|' +
                                                patientprofile_item[i].occupation.to_s + '|' + patientprofile_item[i].detail.to_s + '|' + 
                                                "facebook" %>
                                            </label>
                                        <% end %>
                                    <% end %>
                                    <br><br>
                                    <a class="setup_conform" onclick="get_patient_info(0)">Setup current patient's profile ?</a>
                                </div>
                            </div>
                        <% end %>
                        <div class="portlet-title tabbable-line setup_type patient_summary">
                            <div class="caption caption-md">
                                <div class="caption font-green" style="font-size: 18px;">
                                    <i class="icon-pin font-green"></i>
                                    <span class="caption-subject bold uppercase"> Create My Account Profile </span>
                                </div>
                                <div style="width: 100%;height: 15px;"></div>
                            </div>
                        </div>

                        <div class="portlet-body">

                            <div class="tab-content">

                                <!-- CHANGE AVATAR TAB -->
                                    <link rel="stylesheet" type="text/css" href="/css/upload_style.css" />

                                    <div class="tab-pane patient_summary patient_visible" id="tab_1_2" style="margin-bottom: 25px;">
                                        <div id="tab-pane copper_container" class="crop_cover_container">
                                            <!--<a id="back_btn" class="back_button"></a>-->
                                            <div class="crop_img_source">
                                                <a id="rotate_btn"></a>
                                                <div id="dragdrop_info">Drag and drop<br>your image here</div>
                                                <div id="drag_drop_area"></div>
                                                <div id="cropper_img_area_bg"></div>
                                                <div id="status"></div>
                                                <a id="select_img_button" href="javascript:void(0);" onclick="document.getElementById('image_file').click();"></a>
                                                <input type="file" id="image_file" size="10" style="visibility:hidden;" />
                                                
                                                <canvas id="cropper_img_area"></canvas>
                                                <img id="reset_img" width="300" height="300" style="display:none" />
                                            </div>
                                            <div id="preview_container" class="preview_container">
                                                <canvas id="preview_100_px"></canvas>
                                                <span class="img_detail_text">Preview Image</span>
                                                <button id="save_img_button" class="btn btn-success">Set as Profile</button>
                                                <button id="change_img_button" class="btn btn-warning">Change Picture</button>
                                                <button id="reset_img_button" class="btn btn-warning" style="display: none;">Reset Picture</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">

                                    <%= form_for(:staff_profile, :url => dashboardpage_staffprofileinsert_path, :method => "post") do |f| %>
                                        <div class="form-body">
                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <%= f.text_field(:authcons_id, style: "display: none;", id: "authcons_id") %>
                                                <%= f.text_field(:email, style: "display: none;", id: "email") %>
                                                <%= f.text_field(:usertype, style: "display: none;", id: "usertype") %>
                                            </div>

                                            <div style="display: block;">
                                                <%= f.text_area(:image, id: "profile_img_id", style: "display: none;") %>
                                                <%= f.text_area(:profile_type, id: "profile_type_id", style: "display: none;", value: ".staff_summary") %>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <%= f.text_field(:first_name, class: "form-control edited", id: "first_name") %>
                                                <label for="form_control_1"> First Name </label>
                                                <span class="help-block">first name here...</span>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <%= f.text_field(:last_name, class: "form-control edited", id: "last_name") %>
                                                <label for="form_control_1"> Last Name </label>
                                                <span class="help-block">last name here...</span>
                                            </div>

                                            <div class="form-group" id="sex">
                                                <label for="form_control_1" class="profile_setup_custom"> Sex </label><br>
                                                <%= f.radio_button :sex, 'Male', :checked => true %> Male &nbsp&nbsp
                                                <%= f.radio_button :sex, 'Female' %> Female
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label" style="z-index: 11">
                                                <label for="form_control_1" style="color: #979797;"> Birthday </label><br>
                                                
                                                <div class="bootstrap-iso">
                                                    <div class="container-fluid date_input">
                                                        <div class="form-group">
                                                            <%= f.text_field(:birthdate, class: "form-control", id: "birthdate", placeholder: "MM/DD/YYY your birthday here...") %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                                            

                                            <div class="form-group form-md-line-input form-md-floating-label" style="z-index: 12">
                                                <%= f.text_field(:phone_number, class: "form-control edited", id: "phone_number") %>
                                                <label for="form_control_1"> Phone Number </label>
                                                <span class="help-block">phone number here...</span>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label staff_summary patient_visible">
                                                <label for="form_control_1" class="profile_setup_custom"> NHS Number </label><br>
                                                <div class="nhs_number">
                                                    <%= f.text_field(:nhs_number1, class: "form-control edited", maxlength: 3, id: "nhs_number1", value: "000") %>
                                                    <span>-</span>
                                                    <%= f.text_field(:nhs_number2, class: "form-control edited", maxlength: 3, id: "nhs_number2", value: "000") %>
                                                    <span>-</span>
                                                    <%= f.text_field(:nhs_number3, class: "form-control edited", maxlength: 4, id: "nhs_number3", value: "0000") %>
                                                </div>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <%= f.text_field(:address, class: "form-control edited", id: "address") %>
                                                <label for="form_control_1"> Address </label>
                                                <span class="help-block">address here...</span>
                                            </div>

                                            <div class="form-group patient_summary patient_occupation">
                                                <label for="form_control_1" class="profile_setup_custom"> Occupation </label><br>
                                                <%= f.select :occupation, options_for_select([["Staff", "Staff"], ["Developer", "Developer"], ["Admin", "Admin"]]) %>
                                            </div>

                                            <div class="form-group form-md-line-input form-md-floating-label">
                                                <%= f.text_area(:detail, class: "form-control edited", id: "detail") %>
                                                <label for="form_control_1"> Detail </label>
                                                <span class="help-block">detiai here...</span>
                                            </div>
                                        </div>
                                        
                                        <div class="form-actions noborder">
                                            <%= f.submit("Push Profile", class: "btn blue", id: "profile_push") %>
                                            <label style="color: red;" id="warning"></label>
                                        </div>
                                    <% end %> 
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<%= render "dashboardpage/footer.html.erb" %>

<script src="/js/ComnovoUtil.js" type="text/javascript"></script>
<script src="/js/ImageCropper.js" type="text/javascript"></script>
<script src="/js/UploadImages.js" type="text/javascript"></script>

<script>
    $("#page-title").html("<h4 style='font-size: 18px;'>Profile Setup</h4>");

    function profile_type_show( type ) {
        $(".profile-sidebar-portlet").css("display", "none");
        $(".tabbable-line").css("display", "none");
        $(".patient_occupation").css("display", "none");
        $(".patient_visible").css("display", "none");
        $(type).css("display", "block");
        $("#profile_type_id").val(type);
    }

    $("#save_img_button").on('click', function() {
        $("#profile_img_id").val(document.getElementById("preview_100_px").toDataURL('image/jpeg', 1.0));
        $(".crop_img_source").css("display", "none");
        $("#preview_container").css("left", "0px");
        $("#save_img_button").css("display", "none");
        $("#change_img_button").css("display", "none");
        $(".crop_cover_container").css("height", "220px");
        $("#reset_img_button").css("display", "block");
        $(".img_detail_text").css("height", "30px");
    });

    $("#reset_img_button").on('click', function() {
        $(".crop_img_source").css("display", "block");
        $("#preview_container").css("left", "350px");
        $("#save_img_button").css("display", "block");
        $("#change_img_button").css("display", "block");
        $(".crop_cover_container").css("height", "300px");
        $("#reset_img_button").css("display", "none");
        $(".img_detail_text").css("height", "60px");     
    });

    $("select").change(function() {
        var option = $('option:selected', this).attr('name');
        $(".setup_conform").attr('onclick', option);
    });

    function get_patient_info(i) {
        var tmp = $(".select_patient_profile:eq("+i+")").html().split('|');
        console.log(tmp[1]);

        $("#authcons_id").val(tmp[0]);
        $("#profile_img_id").val(tmp[1]);
        $("#first_name").val(tmp[2]);
        $("#last_name").val(tmp[3]);
        if(tmp[4] == "Male") {
            $("#sex input:eq(0)").prop("checked", true);
        }
        else {
            $("#sex input:eq(1)").prop("checked", true);
        }
        $("#birthdate").val(tmp[5]);
        $("#email").val(tmp[6]);
        $("#phone_number").val(tmp[7]);
        $("#nhs_number1").val(tmp[8].substring(0,3));
        $("#nhs_number2").val(tmp[8].substring(3,6));
        $("#nhs_number3").val(tmp[8].substring(6,10));
        $("#address").val(tmp[9]);
        $("#detail").val(tmp[13]);
        $("#usertype").val(tmp[14]);
    }

    $("#profile_push").on('click', function(e) {
        if($("#profile_img_id").val() != '' && $("#first_name").val() != '' && $("#last_name").val() != '' && $("#birthdate").val() != '' && $("#phone_number").val() != '' && $("#profile_type_id").val() != ''
            && $("#nhs_number1").val() != '' && $("#nhs_number2").val() != '' && $("#nhs_number3").val() != '' && $("#address").val() != '' && $("#detail").val() != '') {
            
        }
        else {
            e.preventDefault;
            $("#warning").html("*Please fill with correct info!");
            return false;
        }
    });
</script>

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="staff_profile[birthdate]"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>