<%= render "dashboardpage/header.html.erb" %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="/js/fusioncharts/fusioncharts.js"></script>
<script src="/js/fusioncharts/fusioncharts.charts.js"></script>
<script src="/js/fusioncharts/themes/fusioncharts.theme.fint.js"></script>

<br>

<div class="row dashboardpage_height" style="overflow: hidden;">
    <div class="col-md-12 col-sm-12 min-show media_adjust">
        <div class="pull-left col-md-5 col-sm-12 media_adjust adjust_image" style="padding: 0px">
            <div class="profile-detail-cover">
                <div class="col-md-12 col-sm-12">
                    <div class="profile-detail-header">
                        <p class="profile-detail-header-text">Patient Detail</p>
                    </div>
                </div>

                <%  if current_authcon 
                        tmpObj = PatientProfile.find_by('authcons_id': current_authcon.id)
                    else 
                        tmpObj = PatientProfile.find_by('fusers_id': session[:fuser_id])
                    end
                %>

                <div class="col-md-5 col-sm-5 profile-image-cover">
                    <% if tmpObj.image == nil || tmpObj.image == '' || tmpObj.allowed == 0 %>
                        <img src="/images/blank_profile_image.png" class="img-responsive patient_profile_img" alt="">
                    <% else %>
                        <%  file = File.open("savedimages/" + tmpObj.image, "rb")
                            contents = file.read %>
                        <img src="<%= contents %>" class="img-responsive patient_profile_img" alt="">
                    <% end %>
                </div>
                <div class="col-md-7 col-sm-7 media_adjust_detail" style="text-align: center;">
                    <div class="col-md-12 col-sm-12" style="padding-top: 15px;">
                        <ul class="col-md-12 col-sm-12 profile-detail-ul">
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">ID : </span>
                               <span class="pull-left">123</span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Name : </span>
                               <span class="pull-left"><%= tmpObj.first_name.to_s + ' ' + tmpObj.last_name.to_s %></span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Sex : </span>
                               <span class="pull-left"><%= tmpObj.sex.to_s %></span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">BirthDate : </span>
                               <span class="pull-left"><%= tmpObj.birthdate.to_s %></span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Phone : </span>
                               <span class="pull-left"><%= tmpObj.phone_number.to_s %></span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Address : </span>
                               <span class="pull-left"><%= tmpObj.address.to_s %></span> 
                            </li>
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Healthcare Professional : </span>
                               <span class="pull-left"><%= tmpObj.healthcare_professional.to_s %></span> 
                            </li>  
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">Lead Clinician : </span>
                               <span class="pull-left"><%= tmpObj.lead_clinician.to_s %></span> 
                            </li>  
                            <li class="col-md-12 col-sm-12">
                               <span class="pull-left" style="width: 50%;text-align: left;">CoreMobid Pathways : </span>
                               <span class="pull-left">Diabetes</span> 
                            </li>                      
                        </ul>
                    </div>
                    <div class="profile-userbuttons patient-profile-btn">
                        <button type="button" class="btn btn-circle green btn-sm profile_history_btn">Patient History</button>
                        <button type="button" class="btn btn-circle green btn-sm profile_note_btn">General Note</button>
                    </div>                
                </div>
            </div>
        </div>

        <div class="pull-right col-md-7 col-sm-12 profile-assume media_adjust adjust_container">
            <div class="col-md-12 col-sm-12 profile-assume-inner">
                <div class="col-md-12 col-sm-12" style="padding-left: 0px;padding-right: 0px;border-bottom: 1px solid lightgray;">
                    <div class="pull-left profile-overview-header">
                        <p class="profile-detail-header-text">Patient Detail</p>
                    </div>
                    <div class="pull-right">
                        <p class="profile-detail-header-text">Assessment:Date</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 nav-menu-cover">
                    <nav class="navpart-collapse" role="navpartigation">
                        <ul class="nav nav-tabs">
                            <li class="dropdown pull-right tabdrop">
                                <a class="dropdown-toggle" data-toggle="dropdown" href=""><i class="fa fa-ellipsis-v"></i>&nbsp;<i class="fa fa-angle-down"></i> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class=""></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a href="" data-toggle="tab" aria-expanded="false">Disable</a>
                            </li>
                            <li class="">
                                <a href="" data-toggle="tab" aria-expanded="false">Enable</a>
                            </li>
                            <li class="">
                                <a href="" data-toggle="tab" aria-expanded="false">Deactivated</a>
                            </li>                                            
                        </ul>
                        <div style="width: 100%;height: 1px;border-top: 1px solid lightgray;">
                        </div>

                        <button type="button" class="btn btn-circle green btn-sm send-message">Send Message</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-left: 15px;padding-right: 15px;">
        <div class="col-md-12 col-sm-12" style="margin-top: 15px;background-color: white;display: grid;margin-bottom: 50px;overflow: scroll;padding-bottom: 20px;">
            <div class="col-md-12 col-sm-12" style="background-color: white;">
                <div class="profile-detail-header">
                    <p class="profile-detail-header-text">Historical Patient Pathway Progression</p>
                </div>

                <nav class="navpart-collapse" role="navpartigation" style="margin-top: 15px;">
                    <ul class="nav nav-tabs">
                        <li class="dropdown pull-right tabdrop">
                            <a class="refresh_a" data-toggle="dropdown" href=""><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </li>
                        <li class="active">
                            <a href="" data-toggle="tab" aria-expanded="false" id="bloodP">Blood Pressure</a>
                        </li>
                        <li class="">
                            <a href="" data-toggle="tab" aria-expanded="false" id="headM">Head Movement</a>
                        </li>
                        <li class="">
                            <a href="" data-toggle="tab" aria-expanded="false">Blood 3</a>
                        </li>                                            
                    </ul>
                    <div style="width: 100%;height: 1px;border-top: 1px solid lightgray;">
                    </div>

                    <%
                        @chart = Fusioncharts::Chart.new({
                            :height => 400,
                            :width => "100%",
                            :id => 'chart',
                            :type => 'line',
                            :renderAt => 'chart-container',
                            :dataSource => '{
                                "chart": {
                                    "caption": "Oxygen Level",
                                    "xAxisName": "Time Line",
                                    "yAxisName": "O2 Level",
                                    "showvalues": 0
                                },
                                "data": [{
                                    "label": "Jan",
                                    "value": "100"
                                }, {
                                    "value": "99"
                                }, {
                                    "label": "Mar",
                                    "value": "45"
                                }, {
                                    "label": "Apr",
                                    "value": "53"
                                }, {
                                    "label": "May",
                                    "value": "78"
                                }, {
                                    "label": "Jun",
                                    "value": "67"
                                }, {
                                    "label": "Jul",
                                    "value": "90"
                                }, {
                                    "label": "Aug",
                                    "value": "98"
                                }, {
                                    "label": "Sep",
                                    "value": "67"
                                }, {
                                    "label": "Oct",
                                    "value": "96"
                                }, {
                                    "label": "Nov",
                                    "value": "49"
                                }, {
                                    "label": "Dec",
                                    "value": "46"
                                }]
                            }'
                        })
                    %>

                    <div id="chart-container">
                        <%= @chart.render() %>
                    </div>

                    <!-- head movement 3d -->
                    <div id="headm3d" style="height: 400px;display: none;"></div>
                </nav>
            </div>
        </div>
    </div>
</div>

<script>
    $(".detail_click").click(function() {
        $(".detail_click").removeClass("item_active");
        var index = $(".detail_click").index(this);
        $(".detail_click:eq("+index+")").addClass("item_active");
    });

    $(".chart_click").click(function() {
        $(".chart_click").removeClass("item_active");
        var index = $(".chart_click").index(this);
        $(".chart_click:eq("+index+")").addClass("item_active");
    });
</script>

<%= render "dashboardpage/footer.html.erb" %>

<!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
https://plot.ly/javascript/3d-surface-plots/#topographical-3d-surface-plot --> 

<script src="/js/profile-form.js"></script>

<script>
    $("#page-title").html("<h4>My Profile</h4>");
</script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>