<%= render "dashboardpage/header.html.erb" %>

<br>

<% tmpAut = Authcon.where('id is not NULL') %>
<% tmpSta = StaffProfile.where('id is not NULL') %>
<% tmpPro = PatientProfile.where('id is not NULL') %>
<% tmpMsg = Message.where('id is not NULL') %>

<div class="portlet light bordered dashboardpage_height">
    <div class="portlet-title">
        <div class="caption">
            <div class="caption font-green" style="font-size: 18px;">
                <i class="icon-pin font-green"></i>
                <span class="caption-subject bold uppercase"> Real Time Consultation </span>
            </div>
            <div style="width: 100%;height: 15px;"></div>
        </div>
        <div class="actions">
            <div class="see_allmsg">
                <a onclick="see_allmsg()">See all messages</a>
            </div>
            <div class="portlet-input input-inline">
                <div class="input-icon right">
                    <i class="icon-magnifier"></i>
                    <form action="javascript:msgsearch(searchval);">
                        <input type="text" id="searchval" class="form-control input-circle" placeholder="search...">
                        <input type="submit" style="display: none;" id="msgsearch"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body chat-room" style="display: -webkit-box;" id="chats">
        <div style="width: 100%;height: auto;">
            <div class="contact_info">
                <% if current_authcon %>
                    <% if find_custom(tmpAut, current_authcon.id).usertype == "Staff" || find_custom(tmpAut, current_authcon.id).usertype == "Admin" %>
                        <% sel_access = 1 %>
                        <div class="caption font-green" style="font-size: 16px;">
                            <span class="caption-subject bold uppercase"> Please select a patient to connect to CONSULTATION </span>
                        </div>
                        <div style="width: 100%;height: 15px;"></div>
                        <ul id="user_select" class="consult_multisel" multiple>
                            <% for i in 0..tmpPro.count - 1 %>
                                <% if tmpPro[i].image.to_s.length > 0 %>
                                    <%  file = File.open("savedimages/" + tmpPro[i].image, "rb")
                                    contents = file.read %>
                                    <li value="<%= tmpPro[i].id %>" class="account_sel" style="background-image: url(<%= contents %>);">
                                        ID : <%= tmpPro[i].id %><br>
                                        <label class="account_name"><%= tmpPro[i].first_name + ' ' + tmpPro[i].last_name %></label>
                                    </li>
                                <% else %>
                                    <li value="<%= tmpPro[i].id %>" class="account_sel" style="background-image: url(/images/blank_profile_image.png);">
                                        ID : <%= tmpPro[i].id %><br>
                                        <label class="account_name"><%= tmpPro[i].first_name + ' ' + tmpPro[i].last_name %></label>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    <% end %>
                <% else %> 
                    <img src="/images/temp-images/dribbble_1x.jpg" style="width: 100%"/>
                <% end %>
            </div>

            <div class="slimScrollDiv message_info">
                <div class="scroller" style="height: 600px; overflow: auto; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                    <ul class="chats">
                        <% if sel_access == 1 %>
                            <% tmpMsg = Message.where('id is not NULL') %>
                            <% for i in 0..tmpMsg.count - 1 %>
                                <% if tmpMsg[i].patient_profile_id.to_s != '-1' && tmpMsg[i].patient_profile_id.to_s != '-2' %>
                                    <% if tmpMsg[i].staff_profile_id == nil || tmpMsg[i].staff_profile_id.to_s == '' %>
                                        <% tmpPro.each do |tmpPro_sel|
                                            if tmpPro_sel['id'] == tmpMsg[i].patient_profile_id %>
                                                <li class="in">
                                                    <% if find_custom(tmpPro, tmpMsg[i].patient_profile_id).image.to_s.length > 0 %>
                                                        <%  file = File.open("savedimages/" + find_custom(tmpPro, tmpMsg[i].patient_profile_id).image, "rb")
                                                        contents = file.read %>
                                                        <img class="avatar" alt="" src="<%= contents %>">
                                                    <% else %>
                                                        <img class="avatar" alt="" src="/images/blank_profile_image.png">
                                                    <% end %>
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name" style="font-size: 14px;"><%= find_custom(tmpPro, tmpMsg[i].patient_profile_id).first_name + ' ' + find_custom(tmpPro, tmpMsg[i].patient_profile_id).last_name %></a>
                                                        <span class="datetime"> <%= tmpMsg[i].updated_at %> </span>
                                                        <span class="body"> <%= tmpMsg[i].content %> </span>
                                                    </div>
                                                </li>
                                                <% break
                                            end
                                        end %>
                                    <% else %>
                                        <% if tmpMsg[i].staff_profile_id == find_by_custom(tmpSta, 'authcons_id', current_authcon.id).id %>
                                            <li class="out">
                                                <% if find_custom(tmpSta, tmpMsg[i].staff_profile_id).image.to_s.length > 0 %>
                                                    <%  file = File.open("savedimages/" + find_custom(tmpSta, tmpMsg[i].staff_profile_id).image, "rb")
                                                    contents = file.read %>
                                                    <img class="avatar" alt="" src="<%= contents %>">
                                                <% else %>
                                                    <img class="avatar" alt="" src="/images/blank_profile_image.png">
                                                <% end %>
                                                <div class="message">
                                                    <span class="arrow"> </span>
                                                    <a href="javascript:;" class="name"> You </a>
                                                    <span class="datetime"> <%= tmpMsg[i].updated_at %> </span>
                                                    <span class="body"> <%= tmpMsg[i].content %> </span>
                                                </div>
                                            </li>                          
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% else %>
                            <%  if current_authcon 
                                    my_id = find_by_custom(tmpPro, 'authcons_id', current_authcon.id).id
                                else
                                    my_id = find_by_custom(tmpPro, 'fusers_id', session[:fuser_id]).id
                                end
                            %>
                            <% tmpMsg = Message.where('id is not NULL') %>
                            <% for i in 0..tmpMsg.count - 1 %>
                                <% if tmpMsg[i].patient_profile_id == my_id %>
                                    <li class="out">
                                        <% if find_custom(tmpPro, tmpMsg[i].patient_profile_id).image.to_s.length > 0 %>
                                            <%  file = File.open("savedimages/" + find_custom(tmpPro, tmpMsg[i].patient_profile_id).image, "rb")
                                            contents = file.read %>
                                            <img class="avatar" alt="" src="<%= contents %>">
                                        <% else %>
                                            <img class="avatar" alt="" src="/images/blank_profile_image.png">
                                        <% end %>
                                        <div class="message">
                                            <span class="arrow"> </span>
                                            <a href="javascript:;" class="name"> You </a>
                                            <span class="datetime"> <%= tmpMsg[i].updated_at %> </span>
                                            <span class="body"> <%= tmpMsg[i].content %> </span>
                                        </div>
                                    </li>
                                <% end %>
                                <% if tmpMsg[i].send_to == my_id %>
                                    <li class="in">
                                        <% if find_custom(tmpSta, find_by_custom(tmpMsg, 'send_to', tmpMsg[i].send_to).staff_profile_id).image.to_s.length > 0 %>
                                            <%  file = File.open("savedimages/" + find_custom(tmpSta, find_by_custom(tmpMsg, 'send_to', tmpMsg[i].send_to).staff_profile_id).image, "rb")
                                            contents = file.read %>
                                            <img class="avatar" alt="" src="<%= contents %>">
                                        <% else %>
                                            <img class="avatar" alt="" src="/images/blank_profile_image.png">
                                        <% end %>
                                        <div class="message">
                                            <span class="arrow"> </span>
                                            <a href="javascript:;" class="name"> Support </a>
                                            <span class="datetime"> <%= tmpMsg[i].updated_at %> </span>
                                            <span class="body"> <%= tmpMsg[i].content %> </span>
                                        </div>
                                    </li>
                                <% end %>          
                            <% end %>
                        <% end %>
                    </ul>
                </div>
                <%= form_for(:message_request, :url => dashboardpage_message_path, :method => "post") do |f| %>
                    <%= f.text_field(:id, style: "display: none;") %>
                    <%= f.text_field(:content, class: "form-control pull-left", placeholder: "Type a message here...") %>
                    <%= f.submit("Send", class: "btn blue icn-only send_msg pull-right") %>
                <% end %>

                <% if sel_access == 1 %>
                    <% if tmpPro.count != 0 %>
                        <script>
                            setTimeout(function() {
                                $("#message_request_id").val("<%= tmpPro[0].id %>");
                            }, 0);
                        </script>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render "dashboardpage/footer.html.erb" %>

<script>
    $("#page-title").html("<h4>Service Notifications</h4>");
    setTimeout(function() {
        $(".page-content").css('height', 'auto');

        if($(".chats li").length > 20) {
            $(".chats li").css("display", "none");
            for(var i = $(".chats li").length - 20; i < $(".chats li").length; i ++) {
                $(".chats li:eq("+i+")").css("display", "block");
            }
        }
    } ,0);

    function see_allmsg() {
        $(".chats li").css("display", "block");
    }
</script>