<%= render "dashboardpage/header.html.erb" %>

<link rel="shortcut icon" href="/images/pageicon.png">

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="../assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="../assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico" />

<link rel="stylesheet" type="text/css" href="/css/profile-form.css" />

<link href="../assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />

<br>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
            <span class="caption-subject bold uppercase"> Detail Request</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn btn-sm default dropdown-toggle" href="javascript:;" data-toggle="dropdown" aria-expanded="false"> Settings
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-pencil"></i> Edit </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Ban </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="javascript;" class="dropzone dropzone-file-area dz-clickable" id="my-dropzone" style="width: 500px; margin-top: 50px;max-height: 300px;overflow: scroll;">
            <h3 class="sbold">Drop files here or click to upload</h3>
            <p> Please upload less than 3 images </p>
            <div class="dz-default dz-message"><span></span></div>
        </form>
        
        <%= form_for(@blog_post, :url => dashboardpage_insert_path, :method => "post") do |f| %>
            <div class="form-body">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <%= f.text_field(:title, class: "form-control edited") %>
                    <label for="form_control_1"> Your title of blog </label>
                    <span class="help-block">Title here...</span>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label">
                    <%= f.text_area(:description, class: "form-control", maxlength: "100") %>
                    <label for="form_control_1">Short description about your blog</label>
                    <span class="help-block">Less than 100...</span>
                </div>

                <div class="form-group form-md-line-input form-md-floating-label">
                    <%= f.text_area(:detail, class: "form-control") %>
                    <label for="form_control_1">More details about your blog</label>
                </div>
                
                <%= f.text_field(:image, class: "image_upload") %>
                <%= f.text_field(:image1, class: "image_upload") %>
                <%= f.text_field(:image2, class: "image_upload") %>
            </div>
            
            <div class="form-actions noborder">
                <%= f.submit("Create News", class: "btn blue", id: "image_upload_submit") %>
            </div>
        <% end %> 
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<%= render "dashboardpage/footer.html.erb" %>

<script src="../assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/form-dropzone.min.js" type="text/javascript"></script>

<script>
    $("#image_upload_submit").on('click', function () {
        var image = $(".dz-image img:eq(0)").attr('src');
        $(".image_upload:eq(0)").val(image);
        image = $(".dz-image img:eq(1)").attr('src');
        $(".image_upload:eq(1)").val(image);
        image = $(".dz-image img:eq(2)").attr('src');
        $(".image_upload:eq(2)").val(image);
    });

    $(".dropzone-file-area").hover(function () {
        var count = $(".dz-preview").length;
        if(count>=3) {
            $(".dz-hidden-input").prop("disabled",true);
            $(".dropzone-file-area p").html("3 Images were already uploaded!");
            $(".dropzone-file-area p").css("color", "red");
        } else {
            $(".dz-hidden-input").prop("disabled",false);
            $(".dropzone-file-area p").html("Please upload less than 3 images");
            $(".dropzone-file-area p").css("color", "black");
            $(".page-content").height(975);
        }
    });
</script>

<script>
    $("#page-title").html("<h4>Post News</h4>");
</script>